html{
  font-size:1.6vmin;
  min-height: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background: radial-gradient(#2b105f, #01010a);
  background-repeat: no-repeat;
  text-align:center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
